.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem --3.5rem;
    position: relative;
    margin-top: -7rem;
}

.f-content {
    position: absolute;
}

.f-icons {
    position: absolute;
}

.f-content>span {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40rem;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.f-content>:nth-child(2){
    margin-top: 1rem;
    margin-left: 44.5rem;
}

.f-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 40rem;
}

.f-icons>i{
    color: white;
    margin-top: 8rem;
    padding: 20px;
}