.projects {
    height: 100vh;
    background-image: url(../images/background2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 1px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    padding-top: 40px;
}

h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p-card {
    width: 350px;
    background-color: black;
    display: inline-block;
    margin: 40px;
    margin-top: 150px;
    margin-left: 86px;
    box-shadow: 0px 0px 30px 20px blueviolet;
    border-radius: 10px;
}

.p-card>img {
    width: 350px;  
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.p-card:hover {
    transform: scale(1.1);
}

.HCJ {
    margin-left: 70px;
}

.RE {
    margin-left: 141px;
}


@media screen and (max-width: 480px) {
    .projects{
        height: 149vh;
    }
    .head {
        margin-left: -0.1rem;
    }
    h2 {
        margin-left: 2px;        
    }    
    .p-card {
        display: block;
        margin-top: 40px;
        margin-left: 2.3rem;
        width: 300px;
        height: 205px;
    }
    .sec-card {
        height: 220px;
    }
    .p-card>img {
        width: 300px;
    }
    .HCJ {
        margin-left: 3rem;
    }
    .RE {
        margin-left: 7.7rem;
    }

}
