.App {
  /* padding: 0.5rem 3.5rem ; */
  overflow: hidden;
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #9e4bec 26.71%, #8a2be2 99.36%);
  cursor: pointer;
  box-shadow: 0px 12px 24px 3px rgb(190, 153, 224);
}

.button:hover {
  background: white;
  color: blueviolet;
  border: 3px solid #8a2be2;
}

